.desktop {
    background-color: #181616;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  background-size: cover; /* This makes the background responsive */
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  }
  
  .desktop .overlap-group-wrapper {
    display: flex;
    background-color: #181616;
   /* height: 730px;*/
    width: 1920px;
    background-size: cover; /* This makes the background responsive */
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  }
  
  .desktop .overlap-group {
    display: flex;
    background-color: #0c0b0b;
   /* height: 600px;*/
    position: absolute;
    background-size: cover; /* This makes the background responsive */
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  }
  
  .desktop .overlap {
   
    height: 600px;
    left: 100px;
    position: absolute;
    top: 0;
    width: 1238px;
   
  }
  
  .desktop .rectangle {
    background: linear-gradient(180deg, rgb(5, 119, 171) 0%, rgba(6.23, 89.03, 124.51, 0) 100%);
   height: 100vh;
    left: 416px;
    position: absolute;
    top: 0;
    width: 475px;
   
  }
  
  #motion-text {
    animation: slideIn 2s ease forwards;
    opacity: 0;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.motion-image {
  animation: slideInFromRight 2s ease forwards;
    opacity: 0;
    position: absolute;
    right: -100%;
}

@keyframes slideInFromRight {
  0% {
      transform: translateX(-50%);
      opacity: 0;
  }
  100% {
      transform: translateX(-100%);
      opacity: 1;
  }
}
.motion-box{
  animation: slideIn 2s ease forwards;
  opacity: 0;
}

@keyframes slideIn {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@media (max-width: 768px) {
  /* CSS styles for mobile screens go here */
  .desktop {
    font-size: 16px; /* Adjust the font size for mobile screens */
  }
}
